<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>new Bus</title>
</head>
<body>

<form action="/createDriver" method="post">
    <table>
        <tr><td>Driver Name : </td>
            <td><input type="text" placeholder="driver Name" name="driverName"/></td></tr>
        <tr><td>Driver Email : </td>
            <td><input type="text" placeholder="driver Email" name="driverEmail"/></td></tr>

        <tr><td colspan="2"><input type="submit" value="submit"/></td></tr>

    </table>

</form>
</body>
</html>